<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Textutils </title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text </h1>
<form action='/analyze ' method='get'>
    <textarea name='text' style='margin :0px; width: 721px;
         height: 93px;'>  </textarea><br>
    <input type="checkbox" name="removepunc"> remove punctuation<br>
    <input type="checkbox" name="fullcaps"> UPPER CASE<br>
    <input type="checkbox" name="newlineremover"> new line remover<br>
    <input type="checkbox" name="charcounter"> char counter<br>


     <button type='submit'> Analyze Text</button>
</form>
</body>
</html>